/* Resetten van standaardmarges en -vullingen */
body, h1, h2, p, li, a {
  margin: 0;
  padding: 0;
}

/* Algemene stijlen */
body:not(#myBtn) {
  font-family: Arial, sans-serif;
  padding: 20px;
   background-color: #ffffff; /* Achtergrondkleur */
  background-image: linear-gradient(180deg, #afafaf 0%, #acacac 100%); /* Gradiënt met golfeffect */
  background-size: 100% auto;

}

h1, h2, h3, p, img, .topnav, li, ul {
  animation: wave 2s infinite alternate; /* Pas de duur en eigenschappen aan zoals nodig */
}



h1 {
  font-size: 36px;
  text-align: center;
  color: #ffffff; /* Witte tekstkleur */
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  color: #ffffff; /* Witte tekstkleur */
  margin-top: 20px;
  margin-bottom: 10px;
}
h3:not(.footerkopjes) {
  font-size: 24px;
  color: #ffffff; /* Witte tekstkleur */
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  font-size: 16px;
  color: #ffffff; /* Witte tekstkleur */
  margin-top: 20px;
  margin-bottom: 10px;
}
li, p{
  font-size: 18px;
}



/* Stijlen voor afbeelding */
.afbeelding-stijl {
  max-width: 70%;
  height: auto;
  border: 2px solid #6b6b6b;
  margin: 20px 0;
}

/* Animatie voor het golfeffect */
@keyframes wave {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-1px); /* Verander dit naar de gewenste golfhoogte */
  }
}

/* Bovenste navigatiebalk */
.topnav {
  background-color: #333;
  overflow: hidden;
  height: 47px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 998; /* Zorg ervoor dat de topnavigatie boven alles staat */
}

/* Stijlen voor de links binnen de navigatiebalk */
.topnav a {
  float: left;
  color: #f2f2f2; /* Lichtgrijze tekstkleur */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

/* Stijlverandering bij hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Stijl voor de actieve/huidige link */
.topnav a.active {
  background-color: #04AA6D;
  color: white; /* Witte tekstkleur */
}

/* Stijlen voor het weericoon en de temperatuur */
.topnav a.weathericon {
  float: right;
  padding: 0px 0px;
}

.topnav a:hover.weathericon {
  background-color: #535252;
}


.weathertemperature {
  float: right;
  color: #f2f2f2;
  padding: 14px 16px;
  font-size: 17px;
}

/* Voeg deze CSS-stijlen toe voor de footer */
footer {
  text-align: center; /* Tekst in de footer blijft gecentreerd */
}

/* Stijlen voor de lijn */
.footer-line {
  border-top: 4px solid #f2f2f2;
  width: 100%;
}

/* Stijlen voor het plaatje in de footer */
.footer-image {
  display: inline-block;
  margin-right: 20px; /* Ruimte tussen plaatje en tekst */
  vertical-align: top; /* Zet het plaatje bovenaan uitgelijnd */
}

/* Stijlen voor de tekst in de footer */
.footer-text {
  display: inline-block;
  margin-right: 20px; /* Ruimte tussen tekst en hyperlinks */
  vertical-align: top; /* Zet de tekst bovenaan uitgelijnd */
  margin-top: 33px; /* Voeg 5px ruimte boven de tekst toe */
}

/* Stijlen voor de hyperlinks in de footer */
.footer-links {
  display: inline-block;
  vertical-align: top; /* Zet de hyperlinks bovenaan uitgelijnd */
  margin-top: 36px; /* Voeg 5px ruimte boven de hyperlinks toe */
}

/* Stijlen voor de e-mailkoppeling in de footer */
.footer-link {
  display: block; /* Zet de koppelingen op een nieuwe regel */
  text-decoration: none; /* Verwijder onderstreping van de koppelingen */
  font-size: 18px;
  margin-bottom: 10px; /* Ruimte onder elke koppeling */
}

/* Stijlen voor de e-mailkoppeling bij hover (optioneel) */
.footer-link:hover {
  text-decoration: underline; /* Voeg een onderstreping toe bij hover */
}

/* Aangepaste CSS-stijlen voor de kopjes boven de tekst en hyperlinks */
.footer-text h3, .footer-links h3 {
  font-size: 18px; /* Lettergrootte van de kopjes */
  margin: 0; /* Verwijder standaard marges van de kopjes */
}

/* Aangepaste CSS voor de tekst en hyperlinks */
.footer-text p, .footer-links a {
  font-size: 16px; /* Lettergrootte van de tekst en koppelingen */
  margin: 5px 0; /* Voeg 5px boven- en ondermarge toe */
}

/* Stijlen voor de lijn (optioneel) */
.footer-line {
  border-top: 4px solid #f2f2f2;
  width: 100%;
}

#uitslagen {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#uitslagen td, #uitslagen th {
  border: 1px solid #ddd;
  padding: 8px;
}

#uitslagen tr:nth-child(even){background-color: #f2f2f2;}

#uitslagen tr:hover {background-color: #ddd;}

#uitslagen th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}